<div class="section box">
    
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9 justify-content-center align-items-center d-flex flex-column">
            <img src="/images/Reserved-IP-Address.png" class="img-class d-inline-block " />
            <h4 class="text-center">Looks like you have no Reserved IPs.</h4>
            <p class="text-center text-muted"><a >Reserved IP</a> are static IP addresses that point to one of your Droplets. At anytime you can reassign the Reserved IP to another Droplet to redirect traffic.</p>
            <button class="btn-primary p-3" (click)="ReservedIpModal()">Add a Reserved IP</button>
        </div>
    </div>
</div>