.section{
    padding:0 5rem;
    width:100%;
    
}
.box{
    border: 2px solid rgb(241, 241, 241);
    border-radius: 4px;
    padding: 2rem;
}
.img-class{
    width: 10rem;
    margin-bottom: 24px;
    border-radius: 50%;
}
a{
    color:var(--primary-color) !important;
}