/* .main-section{
    width: 100%;
    padding: 5rem 7rem 2rem 7rem;
    height: 100%;
    overflow-y: auto;
} */


.heading{
    font-size: 2.4rem;
    font-weight: 500;
}

.para{
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}


.bi{
    -webkit-text-stroke: 0.5px;
    font-size: 1rem
}

.form{
    margin: 3rem 0;
}

input{
    outline: none;
    
}

input:focus , textarea:focus{
    outline: none;
    border:1px solid var(--bs-border-color)
}
.form-heading{
    font-size: 1.2rem;
    font-weight: 600;
}

.form-check{
    border: 2px solid var(--bs-border-color);
    padding: 1rem;
}

.form-check-input{
    margin: 0rem 1rem;
}

.bi-arrow-up-right{
    font-size: 13px !important;
    -webkit-text-stroke: 0.7px;
}

hr{
    border: 1px solid var(--bs-border-color);
}

textarea{
    resize: none;
}

.btn:hover{
    border: none;
}