<app-header></app-header>
<section class="auth-section row row-cols-md-2 row-cols-1">
    <div class="image-section left-section col d-md-flex d-none align-items-center justify-content-center ">
        <img src="images/forgot-password.svg" alt="background-img" class="img" />
    </div>
    <div class="col right-section p-4" >

        <div class="form-section  d-flex flex-column justify-content-center align-items-center">
            <div class="auth-card">
                <h2 class="heading">Forgot Password?</h2>
                <div class="para mt-3 mb-2">Enter the email address associated with your account and we will send you a
                    link to reset your password.
                </div>
                <form class="d-flex flex-column justify-content-center mt-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text px-4" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                        <input type="email" class="form-control shadow-none border-none" placeholder="Email"
                            aria-label="Email" aria-describedby="basic-addon1">
                    </div>
                    <div class="d-flex flex-row justify-content-between my-1">


                    </div>
                    <button type="submit" class="btn signin-btn text-center w-100 my-3">Request Password Reset</button>
                    <div class="text-center my-3">
                        <span>Don't have an account? <a href="/"><b class="pointer">Sign up</b> </a></span>
                    </div>
                </form>

            </div>
            <hr />
        </div>
    </div>
</section>