<div class="section box">
    
    <div class="row justify-content-center align-items-center">
        <div class="col-md-9 justify-content-center align-items-center d-flex flex-column">
            <img src="/images/load-balancer.png" class="img-class d-inline-block " />
            <h4 class="text-center">You don’t have any Load Balancers</h4>
            <p class="text-center text-muted">Load Balancers let you distribute traffic either or worldwide.
                They provide an effective approach to horizontally scale your software.
                CloudBee manages everything, so no setup or configuration is required.</p>
            <button class="btn-primary p-3" (click)="redirct()">Create a Regional or Global Load Balancer</button>
        </div>
    </div>
</div>