<section class="w-100">
    <div class="card-section d-flex flex-column justify-content-center align-items-center p-4">
        <div>
            <img src="images/tag.png" class="img-icon" />
        </div>

        <div class="text-bolder fs-3 my-3 text-center">
            Tag your Instance
        </div>
        <div class="text-bold fs-6 my-3 para text-center">
            Tags are an excellent method for organizing instances. Discover how to maximize the benefits of tags by
            checking out our
            community tutorial.
        </div>

        <div class="mt-3">
            <button class="btn btn-primary text-bold p-3 px-4" (click)="openTagModal()">
                Manage Tags
            </button>
        </div>
    </div>
</section>