.main-section {
    width: 100%;

}

.main-icon-img {
    width: 8rem;
    height: 9rem;
}

.custom-btn{
    border: none;
    height: 3rem;
    width: max-content;
    border-radius: 0.5px;
}

.action-btn{
    border: none;
    background-color: white;
}

.dropdown-menu {
    min-width: 13rem;
}

.dropdown-menu li:hover {
    background-color: var(--bs-border-color);
}

.table-img-icon{
    width: 1.2rem;
    height: 1.4rem;
}