.checkout-section{
    width: 100%;
    padding: 5rem 5rem 2rem 5rem;
    height: calc(100% - 15vh);
    overflow-y: auto;
}

.pay-details-section{
  padding: 2rem 5rem ;
  height: 15vh;
  border: 2px solid var(--bs-border-color);
}

.heading{
    font-size: 2.4rem;
    font-weight: 500;
}

.para{
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}


.bi{
    -webkit-text-stroke: 0.5px;
    font-size: 1rem
}

.form{
    margin: 3rem 0;
}

input{
    outline: none;
}

input:focus{
    outline: none;
    border:1px solid var(--bs-border-color)
}
.form-heading{
    font-size: 1.2rem;
    font-weight: 600;
}

.form-check{
    border: 2px solid var(--bs-border-color);
    padding: 1rem;
}

.form-check-input{
    margin: 0rem 1rem;
}

.flag-icon{
    width: 3rem;
    height: 2rem;
}

.dropdown-menu{
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 30rem;
}

.dropdown-btn{
    min-width: 30rem;
    height: 4rem;
    border: 2px solid var(--bs-border-color);
    
}

.datacenter:hover{
    background-color: rgba(128, 128, 128, 0.199);
}




  .selected-item{
    border: 2px solid var(--bs-border-color);
    border-bottom: none;
  }
 
  .alert-primary{
    background-color: #f7f6fe !important;
    border: 2px solid #cac4f7;
  }

  .bi-info-circle{
    color: #6355f8;
    font-size: 1.1rem;
  }

  .increase-btn , .decrease-btn{

    border: 2px solid var(--bs-border-color);
    width: 3rem;
    height: 3rem;
  }
  
  .inc-icon{
    font-size: 2rem;
    -webkit-text-stroke: 0.7px;
  
  }
  
  .input-section{
    
    max-width: 15rem;
    font-size: 1.1rem;
    border-top: 2px solid var(--bs-border-color);
    border-bottom: 2px solid var(--bs-border-color);
    height: 3rem;
  }

  .bi-trash{
    font-size: 1.7rem;

  }
  
  
.selected-dropdown-item{
  background-color: rgba(128, 128, 128, 0.527);
}