.main-section{
    padding: 4rem 5rem;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.snapshot-section{
    border: 2px solid var(--bs-border-color);
    min-height: 30rem;
    border-radius: 1rem;
}

img{
    width: 10rem;
    height: 10rem;
}

.dropdown-menu{
    max-height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.dropdown-btn{
    width: 100%;
    height: 4rem;
    border: 2px solid var(--bs-border-color);
    
}

.dropdown-menu li:hover{
    background-color: var(--bs-gray-light);
}

input[type="text"]{
    height: 4rem;
}

.active-section{
    border-bottom: 2px solid var(--bs-blue);
}