.main-section{
    width: 100%;
}

.copied-text {
    position: absolute;
    opacity: 1;
    animation: moveUpFadeOut 0.8s ease forwards;
    font-size: 0.9rem;
    font-weight: bold;
    left: -10px;
}

.custom-btn{
    border: none;
    height: 3rem;
    min-width: 12rem;
}

@keyframes moveUpFadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 1;
        transform: translateY(-25px);
    }

    100% {
        opacity: 0;
    }
}