<section class="w-100">
    <div class="card-section p-4">
        <div class="fs-4 text-bolder">Instance History</div>

        <div class="my-3 table-responsive">
            <table class="table  table-striped">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let row of tableRows">{{row}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td *ngFor="let row of tableRows" [ngClass]="row == 'Event' ? 'text-bolder' : ''">{{data[row]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>